<div ng-include="'views/assets/nav.html'"></div>

<section>
<div class="row" ng-controller="ViewCtrl">
	<div class="col l2 vertical-wrapper input-field">
		<div class="row" align="center"><h4>Filter by:</h4></div> <hr>

		<div class="row" align="center" style="margin-bottom:0px;">
			<p>Gender</p>
		</div>
		<div class="row dropzone">
			<div class="col l6" align="center">
				<p>
					    <input type="checkbox" ng-model="search.gender"
				           ng-true-value="'male'" ng-false-value="''" id="sm">
				           <label for="sm">Male</label>
				</p>
			</div>
			<div class="col l6" align="center">
				<p>
					    <input type="checkbox" ng-model="search.gender"
				           ng-true-value="'female'" ng-false-value="''" id="sf">
				           <label for="sf">Female</label>
				</p>
			</div>
		</div> <hr>

		<div class="row" align="center">
			<p>Age</p>
		</div>
		<div class="row dropzone">
			<div class="col l5"> <input type="text" placeholder="from" ng-model="search.from"> </div>
			<div class="col l2" align="center"> to </div>
			<div class="col l5"> <input type="text" placeholder="to" ng-model="search.to" > </div>		
		</div> <hr>

		<div class="row" align="center">
			<p>Criterio 1</p>
		</div>
		<div class="row dropzone"></div> <hr>
		<div class="row" align="center">
			<p>Criterio 2</p>
		</div>
		<div class="row dropzone"></div> <hr>
		<div class="row" align="center">
			<p>Criterio 3</p>
		</div>
		<div class="row dropzone"></div> <hr>

	</div>
	<div class="col l8">
		<div >
	<div class="row">
		<div class="col l4"   ng-repeat="userx in users | filter: AgeRange(search.from,search.to) | filter:search.gender">
		<div class="card ">
		      <div class="card-image">
		        <img src="assets/img/profiles/{{ userx.photo }}">
		        <span class="card-title">{{userx.name}}</span>
		      </div>
		      <div class="card-content">
		        <p>{{ userx.descripcion }} {{ userx.photo }} <br> Age: {{ userx.age }} </p>
		      </div>
		      <div class="card-action">
		        <a >Action 1 </a>
		        <a >Action 2 </a>
		        <a >More Info...</a>
		      </div>
		    </div>
		</div>
		
	</div>

</div>
	</div>
</div>