<header>
<div class="hide-on-small-only">
  <nav class="navigation row" style="border:none;">

      <a href="#/" class="navbar-logo"><img class="logo" src="assets/img/index_logo.png"></a>
      <div class="navbar-right row">
        <div class="row">
          <div class="col l6 s12 m6">
            <a href="#/login" class="facebook boton calcomm radius">Login</a>
          </div>
          <div class="col l6 s12 m6">
            <a href="#/register" class="facebook boton calcommr radius">Register Now</a>
          </div>
        </div>
        
      </div>
    </nav>
  <video autoplay loop poster="assets/img/video/poster.png" id="bgvid">
    <!--<source src="assets/img/video/DemoB.webm" type="video/webm"> insertar un  video formato webm mejora la compatibilidad-->
    <source src="assets/img/video/DemoB.mp4" type="video/mp4">
</video>
</div>
<div class="hide-on-large-only" >
  <nav class="navigation row" align="center">

      <a href="#/" class="navbar-logo-mobile"><img class="logo" style="width:150px;" src="assets/img/logo4.png"></a>
    
    </nav>
      <img src="assets/img/video/poster.png" style="width:100%; height:100% !important;position:fixed;">
       <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large white">
      <img src="assets/img/icon.png" alt="">
    </a>
    <ul>
      <li><a href="#/login" class="btn-floating btn-large green radius" id="calcomm">Login</a></li>
      <li><a href="#/register" class="btn-floating btn-large blue radius" id="calcomm">Register</a></li>
    </ul>
  </div>
</div>

</header>